@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    overflow:hidden;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
    180deg,
    rgba(29, 27, 141, 0.83) 0%,
    rgba(3, 189, 241, 0.84) 100%
  );
  font-family: "Montserrat", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3{
    text-align: center;
    margin: 10px 0px 40px;
}
textarea{
    border: none;
  display: block;
  width: 50%;
  height: 100px;
  font-family: inherit;
  padding: 10px;
  margin: 0 0 20px;
  font-size: 16px;
}
textarea:focus {
    outline: none;
  }
  .tag {
    background-color: #f0932b;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    display: inline-block;
  }
  
  .tag.highlight {
    background-color: #273c75;
  }
